@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



:root{

    --h1color:#423A3A;
    --spanAndpcolor:#CE9898;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    overflow-y: hidden;

}

.cont {
    width: 100%;
    max-width: 375px;
    max-width: 0 auto;
    height: auto;
    padding-top: 32px;
    padding-bottom: 92px;
  /* border: 1px solid red; */
}

header {
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
    margin-top: 32px;
    /* border: 1px solid green; */
}

.desbg,
.tabbg {
    display: none;
}

article {
    width: 311px;
    height: 310px;
    margin: 64px 32px;
    /* border: 1px solid red; */
    text-align:center;
}
h1{
    font-size: 40px;
    letter-spacing: 10px;
    color: var(--h1color);
    line-height: 100%;
}
span{
    color: var(--spanAndpcolor);
    font-weight: 300;
}
p{
    color: var(--spanAndpcolor);
    font-size: 15px;
    line-height: 155%;
    margin-top: 16px;
    text-align: center;
    width: 311.5px;
}
.ebox{
    width: 311.5px;
    height: 48px;
    border-radius: 22px;
    outline: 1px solid #CE9898;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
   
 
}
input[type="email"]{
    width: 100%;
    height: 100%;
  border: none;
  outline: none;
  padding-left: 24px;
}
input::placeholder{
    color: var(--spanAndpcolor);
    font-size: 16px;
    line-height: 215%;
   
}
input{
    color: var(--spanAndpcolor);
}
button{
    width: 102px;
    height: 50px;
    border-radius: 28px;border: none;
    background: linear-gradient(to bottom, #F8BFBF 0%, #EE8B8B 100%);

}
.red{
    color: red;
}
.green{
    color: green;
}
.error{
    outline:red
}
.move{
  transform: translateX(50px) ;
}
.background{
    background-color: red;
}